* {
	margin: auto;
	padding: 0;
}
body {
	
	background: rgba(55,55,55,1);
}

.head {
	position: absolute;
	top: 0;
	z-index: 4;
	min-width: 1210px;
	height: 75px;
	width: 100%;
	background: rgba(32,32,32,1);	
}
.head-left-wrapper {
	float: left;
	margin: 0;
	height: 75px;
	width: 388px;
}
.head-left-wrapper-logo {
	position: relative;
	top: 22px;
	margin-left: 22px;
	height: 32px;
	width: 118px;
	background: rgba(63,63,63,1);
}
.head-left-wrapper-list-menu ul {
	list-style: none;
}
.head-left-wrapper-list-menu ul li{
	left: 186px;
	margin-right: 20px;
	position: relative;
	height: 14px;
	width: 54px;
	background: rgba(63,63,63,1);
	float: left;
}
.head-right-wrapper {
	position: relative;
	margin-right: 0;
	width: 351px;
	height: 75px;
	/*background: #ffffff;*/
}
.head-right-wrapper-search {
	float: left;
	width: 200px;
	height: 32px;
	background: rgba(63,63,63,1);
	margin-right: 151px;
	position: relative;
	top: 22px;
}
.head-left-wrapper-news {
	height: 32px;
	width: 109px;
	background: rgba(63,63,63,1);
	margin-right: 22px;
	position: relative;
	top: 22px;
}
.main {
	min-width: 1210px;
	z-index: 1;
	min-height: 600px;
	position: relative;
	top: 75px;
	width: 100%;
	height: 90%;/*676px;*/
	background: rgba(55,55,55,1);
}

.main-centre-wrapper {
	min-width: 1166px;
	height: 160px;
	width: 1166px;
	position: relative;
	top: 22%;
	/*256px;*/
}
.main-centre-text {
	height: 70px;
	background: rgba(63,63,63,1);
}
.main-centre-buttom {
	width: 1166px;
	height: 90px;
}
.main-centre-buttom ul{
	position: relative;
	/*right: 40px;*/
	width: 1166px;
	list-style: none;
}
.main-centre-buttom ul li{
	width: 380px;
	height: 70px;
	background: rgba(63,63,63,1);
	float: left;
	margin-right: 13px;
	position: relative;
	top: 20px;
}
.main-centre-buttom ul li:last-child {
	margin-right: 0px;
	clear: right;
}
.footer {
	overflow: hidden;
	height: 260px;
	width: 100%; /*2333px;*/
	background: rgba(63,63,63,1);
}
.footer-list-last-projects {
	width: 100%; 
}
.footer-list-last-projects ul{
	min-width: 3000px;
	list-style: none;
	transition: margin-left 1000ms;
}
.footer-list-last-projects ul li{
	border-top: 1px solid rgba(63,63,63,1);
	border-right: 1px solid rgba(63,63,63,1);
	position: relative;
	width: 388px;
	height: 260px;
	float: left;
	background: rgba(55,55,55,1);

}
.footer-list-last-projects ul li:nth-last-child{
	clear: right;
	border-right: none;
}
.footer-list-last-projects-main-wrapper {
	width: 344px;
	height: 215px;
	position: relative;
	top: 22px;
}
.footer-list-last-projects-child-wrapper {
	width: 164px;
	height: 64px;
	position: relative;
	right: 90px;
}
.footer-list-last-projects-name {
	height: 27px;
	background: rgba(63,63,63,1);
}
.footer-list-last-projects-date {
	height: 27px;
	width: 88px;
	position: relative;
	top: 10px;
	right: 38px;
	background: rgba(63,63,63,1);
}
.footer-list-last-projects-link-full-size {
	width: 88px;
	height: 27px;
	background: rgba(63,63,63,1);
	position: relative;
	top: 124px;
	margin-right: 0;
}
.under-footer {
	min-width: 1210px;
	position: relative;
	bottom: 0;
	height: 70px;
	width: 100%;
	background: rgba(63,63,63,1);
}
.under-footer-copyright {
	height: 14px;
	width: 156px;
	margin-left: 0;
	position: relative;
	top: 28px;
	left: 22px;
}
.under-footer-copyright-simbol {
	height: 14px;
	width: 14px;
	background: rgba(55,55,55,1);
	position: relative;
	right: 71px;
}
.under-footer-copyright-autor {
	height: 14px;
	width: 137px;
	background: rgba(55,55,55,1);
	position: relative;
	bottom: 14px;
	left: 8px;
}
.under-footer-license {
	width: 114px;
	height: 14px;
	background: rgba(55,55,55,1);
	position: relative;
	margin-right: 0;
	right: 22px;
	top: 14px;
}
.footer-button-left {
	transition-property: opacity;
	transition-duration: 0ms;
	width: 40px;
	height: 40px;
	background: rgba(63,63,63,1);
	position: absolute;
	margin-top: 110px;
	margin-left: 20px;
	z-index: 2;
	float: left;
}
.footer-button-right {
	transition-property: opacity;
	transition-duration: 0ms;
	width: 40px;
	height: 40px;
	background: rgba(63,63,63,1);
	position: absolute;
    margin-top: 110px;
    right: 20px;
	z-index: 2;
	float: right;
}
.big-under {
	min-width: 1210px;
	z-index: 2;
	width: 100%;
	height: 330px;/*330*/;
	position: absolute;
	bottom: 0;
	background: #aaa;
}
.big {
	
	position: absolute;
	top: 0;
	min-height: 950px;
	width: 100%;
	height: 100%;
	background: #3ab45f;
}
.arrow:active {
  background: #fff;
}
.arrow{
	transition-duration: 250ms;
}
.arrow:hover {
  background: #ccc;
  cursor: pointer;
}
.gradient-left, 
.gradient-right {
	transition-property: opacity;
	transition-duration: 0ms;
	z-index: 10;
	position: absolute;
	margin-left: 0;
	width: 78px;
	height: 260px;
	background: linear-gradient(to left, rgba(0,0,0,0), rgba(34,34,34,1));
}
.gradient-right {
	position: absolute;
	right: 0;
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(34,34,34,1));
}
