* {
	margin: auto;
	padding: 0;
}
body {
	
	background: rgba(55,55,55,1);
}

.head {
	position: absolute;
	top: 0;
	min-width: 1210px;
	height: 7.8%;/*75px;*/
	width: 100%;
	background: rgba(32,32,32,1);	
}
.head-left-wrapper {
	float: left;
	margin: 0;
	height: 100%;
	width: 20.2%;/*386px;*/
	
}
.head-left-wrapper-logo {
	position: relative;
	top: 29.3%;/*22px;*/
	margin-left: 5.7%;/*22px;*/
	height: 42.6%;/*32px;*/
	width: 29%;/*118px;*/
	background: rgba(63,63,63,1);
}
.head-left-wrapper-list-menu{
	height: 100%;
}
.head-left-wrapper-list-menu ul {
	height: 100%;/*14px;*/
	list-style: none;
}
.head-left-wrapper-list-menu ul li{
	position: relative;
	bottom: 2.8%;
	left: 48.0%;/*186px;*/
	margin-right: 5.18%;/*20px;*/
	height: 20%;/*14px;*/
	width: 14%; /*54px;*/
	background:rgba(63,63,63,1);
	float: left;
}
.head-right-wrapper {
	position: relative;
	margin-right: 0;
	width: 18.3%;/*351px;*/
	height: 100%;/*75px;*/
}
.head-right-wrapper-search {
	float: left;
	width: 57%; /*200px;*/
	height: 42.7%;/*32px;*/
	background: rgba(63,63,63,1);
	margin-right: 43%;/*151px;*/
	position: relative;
	top: 29.3%;/*22px;*/
}
.head-left-wrapper-news {
	height: 42.7%; /*32px;*/
	width: 31.1%;/*109px;*/
	background: rgba(63,63,63,1);
	margin-right: 6.27%;/*22px;*/
	position: relative;
	top: 29.3%;/*22px;*/
}
.main {
	min-width: 676px;
	z-index: 1;
	min-height: 600px;
	position: absolute;
	top: 7.8%;/*75px;*/
	width: 100%;
	height:57.8%;/*676px;*/
	background: rgba(55,55,55,1);
}
.main-centre-wrapper {
	z-index: 15;
	min-width: 966px;
	height: 23.7%;
	width: 60.73%;
	position: absolute;
	top: 35.0%;/*206px*/
	left: 18.8%;/*256px;*/
}
.main-centre-text {
	height: 43.75%;/*70px;*/
	background: rgba(63,63,63,1);
}
.main-centre-buttom {
	width: 100%;
	height: 56.25%;/*90px;*/
}
.main-centre-buttom{
	height: 100%;
}
.main-centre-buttom ul{
	height: 100%;
	position: relative;
	width: 100%;
	list-style: none;
}
.main-centre-buttom ul li{
	width: 32.2%; /*379px;*/
	height: 43.75%;/*70px;*/
	background: rgba(63,63,63,1);
	float: left;
	margin-right: 1.7%;/*20px;*/
	position: relative;
	top: 12.5%;/*20px;*/
}
.main-centre-buttom ul li:last-child {
	margin-right: 0px;
	clear: right;
}
.footer {
	max-width: 100%;
	position: relative;
	margin: 0;
	overflow: hidden;
	height: 78.73%;/*260px;*/
	width: 7670px;/*2333px;*/
	background:rgba(63,63,63,1);
}
.footer-list-last-projects {
	height: 100%;
	width: 2334px;
}
.footer-list-last-projects ul{
	height: 100%;
	list-style: none;
	margin: 0;
	transition-property: margin-left;
	transition-duration:  750ms;
}
.footer-list-last-projects ul li{ 
	border-top: 1px solid rgba(63,63,63,1);
	border-right: 1px solid rgba(63,63,63,1);
	position: relative;
	width: 389px;/*389px;*/
	height: 100%;/*263px;*/
	float: left;
	background: rgba(55,55,55,1);
}
.footer-list-last-projects ul li:nth-last-child{
	clear: right;
	border-right: none;
}
.footer-list-last-projects-main-wrapper {
	width: 88.66%;/*344px;*/
	height: 82.7%;/*215px;*/
	position: relative;
	top: 8.46%;/*22px;*/
}
.footer-list-last-projects-child-wrapper {
	width: 47.7%;/*164px;*/
	height: 29.7%;/*64px;*/
	position: relative;
	right: 26.16%;/*90px;*/
}
.footer-list-last-projects-name {
	height: 42.18%;/*27px;*/
	background: rgba(63,63,63,1);
}
.footer-list-last-projects-date {
	height: 42.18%;/*27px;*/
	width: 53.6%;/*88px;*/
	position: relative;
	top: 15.625%;/*10px;*/
	right: 23.17%;/*38px;*/
	background: rgba(63,63,63,1);
}
.footer-list-last-projects-link-full-size {
	width: 25.58%;/*88px;*/
	height: 12.55%;/*27px;*/
	background: rgba(63,63,63,1);
	position: relative;
	top: 57.57%;/*124px;*/
	margin-right: 0;
}
.under-footer {
	min-width: 1210px;
	position: absolute;
	bottom: 0;
	height: 21.27%;/*70px;*/
	width: 100%;
	background:rgba(63,63,63,1);
}
.under-footer-copyright {
	height: 20%;/*14px;*/
	width: 8.125%;/*156px;*/
	margin-left: 0;
	position: relative;
	top: 40%;/*28px;*/
	left: 1.6%;/*22px;*/
}
.under-footer-copyright-simbol {
	height: 100%;/*14px;*/
	width: 8.9%;/*14px;*/
	background: rgba(55,55,55,1);
	position: relative;
	right: 51.3%;/*80px;*/
}
.under-footer-copyright-autor {
	height: 100%;/*14px;*/
	width: 87.8%;/*137px;*/
	background: rgba(55,55,55,1);
	position: relative;
	bottom: 100%;
	left: 5.1%;/*8px;*/
}
.under-footer-license {
	width: 5.9%;/*114px;*/
	height: 20%;/*14px;*/
	background: rgba(55,55,55,1);
	position: relative;
	margin-right: 0;
	right: 1.15%;/*22px;*/
	top: 20%;
}
.footer-button-left,
.footer-button-right {
	width: 51.28%;/*40px;*/
	height: 15.38%;/*40px;*/
	background: rgba(63,63,63,1);
	position: absolute;
	top: 42.3%;/*110px;*/
	margin-left: 25.64%;/*20px;*/
	z-index: 2;
	float: left;

}
.footer-button-right {
    right: 25.64%;/*20px;*/
	float: right;
}
.big-under {
	min-width: 1210px;
	z-index: 2;
	width: 100%;
	height: 34.4%;/*330*/;
	position: absolute;
	bottom: 0;
}

.big {

	position: absolute;
	top: 0;
	min-height: 950px;
	width: 100%;
	height: 100%;
	background: #3ab45f;
}
.arrow:active {
  background: #fff;
}
.arrow{
	transition-duration: 250ms;
}
.arrow:hover {
  background: #ccc;
  cursor: pointer;
}
.gradient-left, 
.gradient-right {
	transition-property: opacity;
	transition-duration: 0ms;
	z-index: 10;
	position: absolute;
	margin-left: 0;
	width: 4.06%;/*78px;*/
	height: 78.8%;/*260px;*/
	background: linear-gradient(to left, rgba(0,0,0,0), rgba(34,34,34,1));
}
.gradient-right {
	position: absolute;
	right: 0;
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(34,34,34,1));
}
